h1{
    font-size: xx-large;
    color: blue;
}

body {
    text-align: center;
    font-family: 'serif';
}

h2{
    color: blue;
    font-size: x-large;
}

ul{
    color: red;
    font-size: large;
}