h1{
    font-size: xx-large;
    color: blue;
}

body {
    text-align: center;
    font-family: 'serif';
}

h2{
    color: blue;
    font-size: x-large;
}

ul{
    color: red;
    font-size: large;
    list-style-position: inside;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 8px;
    list-style-type: none;
    padding: 0;
}

li{
    padding: 6px 12px;
    border-radius: 12px;
    font-size: medium;
    background-color:yellowgreen;
}